[Unit]
Description=Vivarium Monitor
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=60
WorkingDirectory=/home/pi/scripts/multisensors/
ExecStart=/usr/bin/python3 /home/pi/scripts/multisensors/influxdb-multisensor.py

[Install]
WantedBy=multi-user.target
